body {
    display: flex;
    flex-direction: column;
    background-color: #5e5e5e;
    margin: 0;
    background-image: url(../img/space-background.jpg);
    background-size: cover;
}



.header {
    background-color: #848282;
    text-align: center;
    padding: 20px 0px;
    margin: 0 80px;
    
}

.button-section {
    display: flex;
    background-color: #5e5e5f;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    gap: 52px;
    margin-left: 80px;
    margin-right: 80px;
    
}

.choice-holder{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.player-choice {
    align-self: center;
    margin: 5px;
    border: 2px solid black;
}

.computer-choice {
    align-self: center;
    margin: 5px;
    border: 2px solid black;
}

.computer-selection {
    display: flex;
    flex: none;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: #5e5e5f;
    padding: 50px 0px;
    gap: 52px;
    margin: 0px 80px;
    
}

.player-heading {
    justify-content: start;

}

.computer-heading {
    display: flex;
   
}

.running-score {
    display: flex;
    background-color: aliceblue;
    padding: 15px 15px;
    margin: 0px 80px;
    justify-content: center;
    border: 2px solid black;
}